<div class="z-depth-4 form-at-center">

  <form class="example-form">

    <br>
    <br>
    <br>

    <h1 class="mat-h1">Sign In</h1>

    <br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password">
    </mat-form-field>

    <br>
    <br>
    <br>
    <button mat-button class="submit-button">Submit</button>
    <br>
    <br>
    <br>
    <br>
    <br>
  </form>
</div>
